/*
    Color
---------------------------------*/

$primaryColor: #247CC6;
$secondaryColor: #FD9812;
$defaultColor: #FFFFFF;
$textColor: #7C7C7C;
$titleColor: #333333;
$bgColor: #F0F2F5;



/*
    Font Family
---------------------------------*/

$primaryRegular: 'poppins-regular';
$primaryMedium: 'poppins-medium';
$primaryBold: 'poppins-bold';



/*
    Font Size
---------------------------------*/

$titleSize: 1.625rem;
$bodySize: 1rem;



/*
    Font-Weight
---------------------------------*/

$regularWeight: 400;
$midiumWeight: 500;
$boldWeight: 700;



/*
    Z-Index
---------------------------------*/

$zIndexLow: 1050;
$zIndexMedium: 2050;
$zIndexHigh: 2500;